body
{
    background-image: url("wallpaper.jpg");
    color: white;
}

#board
{
    width: 370px;
    height: 370px;
    background-color: lightblue;
    margin: 0 auto;
    border: 10px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#board img
{
    border-radius: 10px;
    margin: 1px;
    height: 88px;
    width: 88px;
    border: 1px solid black;
    /* border: solid black;
    margin: 1px; */
}

button
{
    font-size: large;
    width: 100px;
    padding: 20px;
    margin: 20px;
}